In [19]:
import pandas as pd
from fastparquet import write
df=pd.read_parquet('comment_id.parquet',engine='fastparquet')

In [20]:
print(len(df))
print(len(df['아이디'].unique()))
print(df)

3046741
246412
         제목       아이디
0      인생존망  fkqp****
1      인생존망  kjh2****
2      인생존망  mmoa****
3      인생존망  ycg0****
4      인생존망  dbgp****
...     ...       ...
48818  순정만화  zezeㅋㄷㅋㄷ
48819  순정만화       8차원
48820  순정만화       신수진
48821  순정만화       서헤빗
48822  순정만화      가을하늘

[3046741 rows x 2 columns]

In [21]:
# using apply function to create a new column 
df['횟수'] = df.apply(lambda row: 1, axis = 1) 
  
# Print the DataFrame after addition 
# of new column 
print(df)

         제목       아이디  횟수
0      인생존망  fkqp****   1
1      인생존망  kjh2****   1
2      인생존망  mmoa****   1
3      인생존망  ycg0****   1
4      인생존망  dbgp****   1
...     ...       ...  ..
48818  순정만화  zezeㅋㄷㅋㄷ   1
48819  순정만화       8차원   1
48820  순정만화       신수진   1
48821  순정만화       서헤빗   1
48822  순정만화      가을하늘   1

[3046741 rows x 3 columns]

In [27]:
#아이디, 웹툰 별로 그루핑 
#같은 웹툰에 댓글 여러번 단 거 정리 
#댓글수가 3046741 -> 1699935개 된거 보면 한 명당 웹툰에 거의 댓글 두개씩 단듯
df = df.groupby(['아이디','제목']).size().reset_index(name='count')
print(df.loc[df['count']==2])
print(df)

         아이디          제목  count
23         -   11년 후 우리는      2
26         -        CCTV      2
27         -      Dr.브레인      2
28         -        GONE      2
32         -  가내수공업 Ent.      2
...      ...         ...    ...
1699880   히스        파륜아이      2
1699890  히에이        코알랄라      2
1699896   히피         제비전      2
1699931  힘들어        까야제맛      2
1699935  힙합걸         에비츄      2

[264432 rows x 3 columns]
                   아이디              제목  count
0                  불렉션            실버볼1      1
1                    찐            이장본색      1
2             Lr매ㄱr고ㅍr        반짝반짝 컬링부      1
3                chahy         검둥이 이야기      1
4                곰지123  커피와 하루 ternate      1
...                ...             ...    ...
1699940  ＊ㄴδㅁξ - - ª..        황야의 무법자들      1
1699941           ＊오가＊            혼담별곡      1
1699942         ＊좋은생각＊     당신과 당신의 도서관      1
1699943     ￡0ⓥe ⓘs...              할매      1
1699944   ￡ΟνΕ　 Ιε 。。♡          트레져헌터2      1

[1699945 rows x 3 columns]

In [30]:
a = df.pivot('아이디', '제목', 'count')
print(a)

제목             0.0MHz  0.1초의 설렘  100%의 그녀  11년 후 우리는  12단곡괭이  12월   12차원 소년들  \
아이디
       불렉션        NaN       NaN       NaN        NaN     NaN   NaN       NaN
       찐          NaN       NaN       NaN        NaN     NaN   NaN       NaN
 Lr매ㄱr고ㅍr         NaN       NaN       NaN        NaN     NaN   NaN       NaN
 chahy            NaN       NaN       NaN        NaN     NaN   NaN       NaN
 곰지123            NaN       NaN       NaN        NaN     NaN   NaN       NaN
...               ...       ...       ...        ...     ...   ...       ...
＊ㄴδㅁξ - - ª..     NaN       NaN       NaN        NaN     NaN   NaN       NaN
＊오가＊              NaN       NaN       NaN        NaN     NaN   NaN       NaN
＊좋은생각＊            NaN       NaN       NaN        NaN     NaN   NaN       NaN
￡0ⓥe ⓘs...        NaN       NaN       NaN        NaN     NaN   NaN       NaN
￡ΟνΕ　 Ιε 。。♡      NaN       NaN       NaN        NaN     NaN   NaN       NaN

제목             180cm 그녀를 사랑해!  19년 뽀삐  19세기말 비망록  ...  휴니멀  흑룡연인  흑우  \
아이디                                               ...
       불렉션                NaN     NaN        NaN  ...  NaN   NaN NaN
       찐                  NaN     NaN        NaN  ...  NaN   NaN NaN
 Lr매ㄱr고ㅍr                 NaN     NaN        NaN  ...  NaN   NaN NaN
 chahy                    NaN     NaN        NaN  ...  NaN   NaN NaN
 곰지123                    NaN     NaN        NaN  ...  NaN   NaN NaN
...                       ...     ...        ...  ...  ...   ...  ..
＊ㄴδㅁξ - - ª..             NaN     NaN        NaN  ...  NaN   NaN NaN
＊오가＊                      NaN     NaN        NaN  ...  NaN   NaN NaN
＊좋은생각＊                    NaN     NaN        NaN  ...  NaN   NaN NaN
￡0ⓥe ⓘs...                NaN     NaN        NaN  ...  NaN   NaN NaN
￡ΟνΕ　 Ιε 。。♡              NaN     NaN        NaN  ...  NaN   NaN NaN

제목             흔한 환생녀의 사정  흩날리는  흰둥이  히어로메이커  히어로즈 오브 레전드  힘내요 일본!...  힙한남자
아이디
       불렉션            NaN   NaN  NaN     NaN          NaN         NaN   NaN
       찐              NaN   NaN  NaN     NaN          NaN         NaN   NaN
 Lr매ㄱr고ㅍr             NaN   NaN  NaN     NaN          NaN         NaN   NaN
 chahy                NaN   NaN  NaN     NaN          NaN         NaN   NaN
 곰지123                NaN   NaN  NaN     NaN          NaN         NaN   NaN
...                   ...   ...  ...     ...          ...         ...   ...
＊ㄴδㅁξ - - ª..         NaN   NaN  NaN     NaN          NaN         NaN   NaN
＊오가＊                  NaN   NaN  NaN     NaN          NaN         NaN   NaN
＊좋은생각＊                NaN   NaN  NaN     NaN          NaN         NaN   NaN
￡0ⓥe ⓘs...            NaN   NaN  NaN     NaN          NaN         NaN   NaN
￡ΟνΕ　 Ιε 。。♡          NaN   NaN  NaN     NaN          NaN         NaN   NaN

[246412 rows x 1822 columns]

In [26]:
tr.loc[tr['count']==2]

         아이디          제목  count
23         -   11년 후 우리는      2
26         -        CCTV      2
27         -      Dr.브레인      2
28         -        GONE      2
32         -  가내수공업 Ent.      2
...      ...         ...    ...
1699880   히스        파륜아이      2
1699890  히에이        코알랄라      2
1699896   히피         제비전      2
1699931  힘들어        까야제맛      2
1699935  힙합걸         에비츄      2

[264432 rows x 3 columns]